In [1]:
import pandas as pd
from pathlib import Path

# base path is the project root
BASE_PATH = Path("..").resolve()

excel_path = BASE_PATH / "data" / "raw" / "CAT_Options_Data.xlsx"
excel_path

WindowsPath('C:/Users/crowe/OneDrive - University College Dublin/Masters/FIN42020 - Derivative Securities/Project/FIN42020-Derivative-Securities-Project/data/raw/CAT_Options_Data.xlsx')

In [2]:
xl = pd.ExcelFile(excel_path)
xl.sheet_names

['Calls', 'Puts', 'Price', 'USGG1M', 'ATM']

In [3]:
calls = pd.read_excel(excel_path, sheet_name="Calls")
puts = pd.read_excel(excel_path, sheet_name="Puts")

calls.head(), calls.dtypes

(                        Calls         Unnamed: 1  Unnamed: 2  Unnamed: 3  \
 0                      Strike             Ticker         Bid         Ask
 1  17-Oct-25 (28d); CSize 100                NaN         NaN         NaN
 2                         340  CAT 10/17/25 C340  126.800003  128.699997
 3                         350  CAT 10/17/25 C350  116.849991  118.800003
 4                         360  CAT 10/17/25 C360  106.100006  108.599991

    Unnamed: 4 Unnamed: 5 Unnamed: 6
 0        Last        IVM       Volm
 1         NaN        NaN        NaN
 2           0  54.544857          0
 3  117.220001  50.927101          2
 4  108.050003          0          1  ,
 Calls         object
 Unnamed: 1    object
 Unnamed: 2    object
 Unnamed: 3    object
 Unnamed: 4    object
 Unnamed: 5    object
 Unnamed: 6    object
 dtype: object)

In [4]:
puts.head(), puts.dtypes

(     Puts         Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0  Strike             Ticker        Bid        Ask       Last        IVM
 1     NaN                NaN        NaN        NaN        NaN        NaN
 2     340  CAT 10/17/25 P340       0.05       0.26       0.15  47.592529
 3     350  CAT 10/17/25 P350          0       0.52       0.24  51.844082
 4     360  CAT 10/17/25 P360        0.1       0.55          0  44.148312

   Unnamed: 6
 0       Volm
 1        NaN
 2          1
 3          2
 4          0  ,
 Puts          object
 Unnamed: 1    object
 Unnamed: 2    object
 Unnamed: 3    object
 Unnamed: 4    object
 Unnamed: 5    object
 Unnamed: 6    object
 dtype: object)

In [5]:
price = pd.read_excel(excel_path, sheet_name="Price")
price.head(), price.dtypes

(     Security        CAT US Equity Unnamed: 2 Unnamed: 3 Unnamed: 4
 0  Start Date  2025-08-19 00:00:00        NaN        NaN        NaN
 1    End Date  2025-10-17 00:00:00        NaN        NaN        NaN
 2      Period                    D        NaN        NaN        NaN
 3    Currency                  USD        NaN        NaN        NaN
 4         NaN                  NaN        NaN        NaN        NaN,
 Security         object
 CAT US Equity    object
 Unnamed: 2       object
 Unnamed: 3       object
 Unnamed: 4       object
 dtype: object)

In [6]:
usgg1m = pd.read_excel(excel_path, sheet_name="USGG1M")
atm = pd.read_excel(excel_path, sheet_name="ATM")

usgg1m.head(), usgg1m.dtypes

(     Security         USGG1M Index  Unnamed: 2
 0  Start Date  2025-09-19 00:00:00         NaN
 1    End Date  2025-10-31 00:00:00         NaN
 2      Period                    D         NaN
 3         NaN                  NaN         NaN
 4        Date              PX_LAST  CHG_PCT_1D,
 Security        object
 USGG1M Index    object
 Unnamed: 2      object
 dtype: object)

In [7]:
atm.head(), atm.dtypes

(   CAT 10/17/25 C530 Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
 0                NaN        NaN         NaN         NaN         NaN
 1                NaN        NaN         NaN         NaN         NaN
 2                NaN        NaN         NaN         NaN         NaN
 3                NaN        NaN         NaN         NaN         NaN
 4                NaN        NaN         NaN         NaN         NaN

    Unnamed: 5  Unnamed: 6
 0         NaN         NaN
 1         NaN         NaN
 2         NaN         NaN
 3         NaN         NaN
 4         NaN         NaN  ,
 CAT 10/17/25 C530    float64
 Unnamed: 1            object
 Unnamed: 2           float64
 Unnamed: 3           float64
 Unnamed: 4           float64
 Unnamed: 5           float64
 Unnamed: 6           float64
 dtype: object)