In [1]:
from pathlib import Path
import sys

# add the project root (parent of 'notebooks') to Python's import path
PROJECT_ROOT = Path("..").resolve()
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

PROJECT_ROOT

WindowsPath('C:/Users/crowe/OneDrive - University College Dublin/Masters/FIN42020 - Derivative Securities/Project/FIN42020-Derivative-Securities-Project')

In [2]:
from src.data_loader import (
    load_calls, load_puts, load_price,
    load_usgg1m, load_atm_series,
    TRADE_DATE, EXPIRY_DATE,
)

calls = load_calls()
puts = load_puts()
price = load_price()
usgg = load_usgg1m()
atm = load_atm_series()

calls.head()

,Strike,Ticker,Bid,Ask,Last,IVM,Volm
0,340,CAT 10/17/25 C340,126.800003,128.699997,0.000000,54.544857,0
1,350,CAT 10/17/25 C350,116.849991,118.800003,117.220001,50.927101,2
2,360,CAT 10/17/25 C360,106.100006,108.599991,108.050003,0.000000,1
3,370,CAT 10/17/25 C370,97.099991,98.899994,0.000000,43.885979,0
4,380,CAT 10/17/25 C380,86.899994,89.050003,0.000000,38.892742,0